.tests/
.vscode/
tests/performance/result
build/
*.log
set_version_in_sql.pgsql
*.tar.xz*
accounts_dump.json
endpoints_openapi
backend/types_openapi
process_openapi.py

# Docker
docker/blockchain/block_log*
docker/ci/.env
docker/.env.*
docker/*.env
docker/srv
.*
*.out.json

# Downloaded HAF scripts (for openapi_rewrite.sh)
scripts/haf_scripts/