[submodule "submodules/btracker"]
	path = submodules/btracker
	url = ../balance_tracker.git
[submodule "submodules/hafah"]
	path = submodules/hafah
	url = ../HAfAH.git
[submodule "submodules/haf"]
	path = submodules/haf
	url = ../haf.git
[submodule "submodules/reptracker"]
	path = submodules/reptracker
	url = ../reputation_tracker.git
