.navbar {
    width: 100vw;
    padding: 10px 50px;
}

.navbarBrand {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbarLogo {
    width: 50px;
    height: 50px;
}

.navLink,
.linkWitnesses {
    margin: 10px;
    color: #fff;
    font-size: 20px;
}

.navLink:hover,
.linkWitnesses:hover {
    color: rgb(238, 66, 66);
}

.searchBox {
    width: 400px;
    margin: 0 20px;
}


@media only screen and (max-width: 1200px) {
    .navbar {
        padding: 10px 50px;
    }

    .searchBox {
        width: 100%;
        margin: 0 20px 0 0;
    }
}