.link {
    color: #6af5ff;
    text-decoration: none;
}

.operationType {
    font-weight: bold;
    color: #fff351
}

.toast {
    background-color: #2C3136;
    max-height: 500px;
    overflow: auto;
    /* max-height: 300px */
}

.trx_toast {
    background-color: #2C3136;
    max-height: 500px;
    overflow: auto;
    border-radius: 0;
    border: none;
    background-clip: unset;
    overflow: unset;
    margin: 0 !important;
}

.timestamp {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

.links {
    display: flex;
    flex-direction: column
}