ul {
    list-style: none
}

a {
    text-decoration: none
}

.operationsCount {
    color: #160855;
    font-weight: bold;
    font-size: 18px;
}

.user_page {
    overflow: scroll;
}

.stickyRow {
    padding: 10px;
    background: #fff;
}