img {
    width: 40px;
    height: 40px;
    margin: 5px;
    border-radius: 50%;
}

span {
    text-align: right;
}

ul {
    list-style: none;
    padding: 0;
}

.link {
    text-decoration: none;
    color: #ccf128;
}

.headBlockValue {
    text-align: right;
    color: #75ffff;
    margin: 5px;
}

.headBlockProperties {
    background-color: #2C3136;
    color: #fff;
    border-radius: 10px;
    padding: 10px
}

.properties {
    font-size: 20px;
    color: #e5ff00;
    text-align: center;
}