.header{
    display: flex;
    justify-content: center ;
    color:red;
}
.pagination {
    display: flex;
    justify-content: center ;
}

.filters {
    justify-content: center ;
    display: flex;
   

}

.op_count {
    display: flex;
    justify-content: center ;
}
