 p {
     margin: 0;
     padding: 0
 }


 .userCardContainer {
     min-width: 300px;
     border-radius: 20px;
     background: #2C3136;
     color: #fff;
     padding: 30px;
 }

 .nameContainer {
     display: flex;
     margin-bottom: 20px;
 }

 .userPictureContainer {
     width: 70px;
     height: 70px;
     border: 4px solid red;
     border-radius: 50%;
 }

 .userPicture {
     margin: 0;
     width: 62px;
     height: 62px;

 }

 .username {
     margin: 20px 0 0 20px;
     font-size: 20px;
 }

 .voteWeightContainer {
     display: flex;
     align-items: center;
     flex-direction: column;
 }

 .currencyContainer {
     justify-content: center;
     text-align: center;
 }

 .currencyUL {
     padding: 0;
     list-style: none;
     justify-content: space-around;
 }

 .votingPowerContainer {
     width: 100%;
     text-align: center;
 }

 .votingPowerText {
     color: green;
     font-weight: bold;
     margin: 0;
     padding: 0
 }

 .downvotePowerText {
     color: blue;
     font-weight: bold;
     margin: 0;
     padding: 0
 }

 .RCText {
     color: red;
     font-weight: bold;
     margin: 0;
     padding: 0
 }

 .votingPowerBar {
     margin-bottom: 10px;
 }

 .reputationContainer {
     display: flex;
     flex-direction: column;
     align-items: center;
     font-weight: bold;
     margin-top: 20px;
 }