.userInfoContainer {
    margin-top: 25px;
}

.userInfoCard {
    border-radius: 0;
    background: #2C3136;
    border: 1px solid #fff;
    color: #fff;
}

.userCardBody {
    padding: 5px;
}

.userCardValueCol {
    word-break: break-word;
    text-align: end;
}