.grayContainer {
    background: #2C3136;
    color: #fff;
    margin-top: 25px;
    border-radius: 10px;
    padding: 20px;
    word-wrap: break-word;
    white-space: pre-wrap;
    word-break: break-word;
    text-align: center;
}



.jsonMetaData {
    border-radius: 10px;
    background: #18003fef;
    word-wrap: break-word;
    white-space: pre-wrap;
    word-break: break-word;
    padding: 10px;
    text-align: left;
}

.authContainer {
    background: #2C3136;
    color: #fff;
    margin-top: 25px;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
}

.authDataContainer {
    background: #18003fef;
    border-radius: 10px;
    padding: 20px;
    margin-top: 20px;
}


.authData {
    overflow: auto;
    padding: 15px 0;
    color: #d8fd50;
}


.tresholdContainer {
    text-align: left;
    padding: 10px 20px 10px 10px;
}