.App {
    padding-bottom: 0px;

    /* background-color: rgb(56, 53, 53);color: #fff */
}

/* .header{
    display: flex;
    width:700px;
    width: 100vw;
     border:'1px solid red';
    background-color:'red' 
}  */
.nav-bar {
    margin: 0px 0 20px 0;
    /* height: 80px; */
    justify-content: center;
    align-items: center;
    display: flex;
    width: 100vw;
    background-color: #000;
    /* border-bottom: 5px solid red; */
    /* z-index: 0 !important; */
}

.nav-bar__form {
    width: 400px;
}

.content {
    padding-left: 50px;
}

.main__top-witness {

    /* border-left:5px solid red; */
    /* background-color:#FCD8D4; */
    /* overflow: auto; */
    /* position: absolute; */
    /* right:0;
top: 0; */
    /* height: 100vh; */
    /* border-radius: 20px; */
    /* width: 300px; */
    /* background-color: #F5C6AA; */

    /* overflow: auto; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* text-align: left; */
    /* z-index: 999; */
    /* padding-bottom: 10px;
margin: 0; */
    /* width: 300px; */


}

.top-witness__list {
    text-align: left;
    /* width: 100%; */
    /* height: 520px; */
    /* padding:0;
    margin: 0; */

}

.footer {
    /* position: relative;
    width: 100vw;
    bottom:0; */
    border-top: 5px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000;
    height: 50px;
    color: #fff;
    margin-top: 50px;
}

.footer p {
    margin: 0;
}

.userpage__offcanvas {
    width: 200px;
    transition: transform 0.3s ease-in-out;
    transform: translateX(10%);


}

.userpage__offcanvas:target {
    transform: translateX(10%);
}

.filters__operation {
    /* border:1px solid red; */
    border-left: 0px;

}

.filters__operation-count {
    /* border:1px solid red; */
    border-right: 0px;

}

.filters {
    margin-bottom: 20px;
}

/* .json {
    background: #f2f2f2;
    padding: 2rem;
    margin: 2rem;
}
    /* first line not indented */


.line {
    margin-left: 1rem;
}

.key {
    margin-right: 0.5rem;
    color: rgb(98, 255, 7);
    font-weight: 600;
}

.string {
    color: rgb(106, 255, 235);
}

.number {
    color: rgb(249, 252, 84);
}

.boolean {
    color: rgb(255, 50, 255);
}

.null {
    color: rgb(255, 0, 0);
}