.line {
    margin-left: 1rem;
}

.key {
    margin-right: 0.5rem;
    color: rgb(0, 217, 255);
    font-weight: 600;
}

.string {
    color: rgb(252, 252, 252);
}

.number {
    color: rgb(0, 65, 243);
}

.boolean {
    color: rgb(255, 50, 255);
}

.null {
    color: rgb(255, 0, 0);
}